@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Published and Edited Details</h3>

<p>This mvc web app edited and published by p.g.r.asanka using windows azure and visual studio 2013</p>
<strong>Github Link:</strong>   <a href="https://github.com/RajithAsanka/MvcLogin">https://github.com/RajithAsanka/MvcLogin</a><br />
