@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Rajith Asanka</h3>

<address>
    NO-10<br />
    Query Road , <br />Dehiwala<br />
    <abbr title="Phone">Phone NO:</abbr>
    +94714027944
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pgrasanka@gmail.com">pgrasanka@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Rajitha.com</a>
</address>